@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}
.App{
    width: 100%;
    background-color: #f9f9f9;

}
table{
    box-shadow: 0px 18px 26px 0px #0000000D;


}